<?xml version="1.0" encoding="UTF-8" ?>
<PokerTH>
    <Configuration>
        <ConfigRevision value="104" />
        <AppDataDir value="./pokerth/data" />
        <Language value="en" />
        <ShowLeftToolBox value="1" />
        <ShowCountryFlagInAvatar value="1" />
        <ShowPingStateInAvatar value="1" />
        <ShowRightToolBox value="1" />
        <ShowFadeOutCardsAnimation value="1" />
        <ShowFlipCardsAnimation value="1" />
        <ShowBlindButtons value="1" />
        <ShowCardsChanceMonitor value="1" />
        <DontTranslateInternationalPokerStringsFromStyle value="0" />
        <DisableSplashScreenOnStartup value="0" />
        <AccidentallyCallBlocker value="1" />
        <DontHideAvatarsOfIgnored value="0" />
        <DisableChatEmoticons value="0" />
        <AntiPeekMode value="0" />
        <AlternateFKeysUserActionMode value="0" />
        <EnableBetInputFocusSwitch value="0" />
        <FlipsideTux value="1" />
        <FlipsideOwn value="0" />
        <FlipsideOwnFile value="" />
        <GameTableStylesList value="GameTableStyles" type="list" />
        <CurrentGameTableStyle value="" />
        <CardDeckStylesList value="CardDeckStyles" type="list" />
        <PlayerTooltips value="PlayerTooltips" type="list" />
        <CurrentCardDeckStyle value="" />
        <LastGameTableStyleDir value="" />
        <LastCardDeckStyleDir value="" />
        <PlaySoundEffects value="1" />
        <SoundVolume value="8" />
        <PlayGameActions value="1" />
        <PlayLobbyChatNotification value="1" />
        <PlayNetworkGameNotification value="1" />
        <PlayBlindRaiseNotification value="1" />
        <NumberOfPlayers value="10" />
        <StartCash value="5000" />
        <FirstSmallBlind value="10" />
        <RaiseBlindsAtHands value="1" />
        <RaiseBlindsAtMinutes value="0" />
        <RaiseSmallBlindEveryHands value="8" />
        <RaiseSmallBlindEveryMinutes value="5" />
        <AlwaysDoubleBlinds value="1" />
        <ManualBlindsOrder value="0" />
        <ManualBlindsList value="Blind" type="list" />
        <AfterMBAlwaysDoubleBlinds value="1" />
        <AfterMBAlwaysRaiseAbout value="0" />
        <AfterMBAlwaysRaiseValue value="0" />
        <AfterMBStayAtLastBlind value="0" />
        <GameSpeed value="4" />
        <PauseBetweenHands value="0" />
        <ShowGameSettingsDialogOnNewGame value="1" />
        <NetNumberOfPlayers value="10" />
        <NetStartCash value="3000" />
        <NetFirstSmallBlind value="10" />
        <NetRaiseBlindsAtHands value="1" />
        <NetRaiseBlindsAtMinutes value="0" />
        <NetRaiseSmallBlindEveryHands value="8" />
        <NetRaiseSmallBlindEveryMinutes value="5" />
        <NetAlwaysDoubleBlinds value="1" />
        <NetManualBlindsOrder value="0" />
        <NetManualBlindsList value="NetBlind" type="list" />
        <NetAfterMBAlwaysDoubleBlinds value="1" />
        <NetAfterMBAlwaysRaiseAbout value="0" />
        <NetAfterMBAlwaysRaiseValue value="0" />
        <NetAfterMBStayAtLastBlind value="0" />
        <NetGameSpeed value="4" />
        <NetDelayBetweenHands value="7" />
        <NetTimeOutPlayerAction value="20" />
        <NetAutoLeaveGameAfterFinish value="0" />
        <ServerPassword value="" />
        <ServerUseIpv6 value="0" />
        <ServerUseSctp value="0" />
        <ServerUseWebSocket value="0" />
        <ServerPort value="7234" />
        <ServerWebSocketPort value="7233" />
        <ServerWebSocketResource value="" />
        <ServerWebSocketOrigin value="" />
        <ServerUsePutAvatars value="0" />
        <ServerPutAvatarsAddress value="" />
        <ServerPutAvatarsUser value="" />
        <ServerPutAvatarsPassword value="" />
        <ServerBruteForceProtection value="1" />
        <InternetServerConfigMode value="0" />
        <InternetServerListAddress value="pokerth.net/serverlist.xml.z" />
        <InternetServerAddress value="*** your ip or servername here ***" />
        <InternetServerPort value="7234" />
        <InternetServerUseIpv6 value="0" />
        <InternetServerUseSctp value="0" />
        <UseAvatarServer value="0" />
        <AvatarServerAddress value="" />
        <UseInternetGamePassword value="0" />
        <InternetGamePassword value="" />
        <InternetGameType value="0" />
        <InternetGameName value="My Online Game" />
        <InternetGameAllowSpectators value="1" />
        <UseLobbyChat value="1" />
        <UseAdminIRC value="0" />
        <AdminIRCServerAddress value="chat.freenode.net" />
        <AdminIRCServerPort value="6667" />
        <AdminIRCChannel value="#test" />
        <AdminIRCChannelPassword value="" />
        <AdminIRCServerUseIpv6 value="0" />
        <AdminIRCServerNick value="PokerTH_Admin" />
        <UseLobbyIRC value="0" />
        <LobbyIRCServerAddress value="chat.freenode.net" />
        <LobbyIRCServerPort value="6667" />
        <LobbyIRCChannel value="#pokerth-lobby" />
        <LobbyIRCChannelPassword value="" />
        <LobbyIRCServerUseIpv6 value="0" />
        <LobbyIRCServerNick value="PokerTH_Lobby" />
        <UseChatCleaner value="0" />
        <ChatCleanerHostAddress value="localhost" />
        <ChatCleanerPort value="4327" />
        <ChatCleanerClientAuth value="" />
        <ChatCleanerServerAuth value="" />
        <ChatCleanerUseIpv6 value="0" />
        <MyName value="Human Player" />
        <MyAvatar value="" />
        <MyRememberedNameDuringGuestLogin value="" />
        <Opponent1Name value="Player 1" />
        <Opponent1Avatar value="" />
        <Opponent2Name value="Player 2" />
        <Opponent2Avatar value="" />
        <Opponent3Name value="Player 3" />
        <Opponent3Avatar value="" />
        <Opponent4Name value="Player 4" />
        <Opponent4Avatar value="" />
        <Opponent5Name value="Player 5" />
        <Opponent5Avatar value="" />
        <Opponent6Name value="Player 6" />
        <Opponent6Avatar value="" />
        <Opponent7Name value="Player 7" />
        <Opponent7Avatar value="" />
        <Opponent8Name value="Player 8" />
        <Opponent8Avatar value="" />
        <Opponent9Name value="Player 9" />
        <Opponent9Avatar value="" />
        <LogOnOff value="1" />
        <LogDir value="/home/poker/.pokerth/log-files/" />
        <LogStoreDuration value="2" />
        <LogInterval value="1" />
        <UserDataDir value="/home/poker/.pokerth/data/" />
        <CacheDir value="/home/poker/.pokerth/cache/" />
        <CLA_NoWriteAccess value="0" />
        <DisableBackToLobbyWarning value="0" />
        <DlgGameLobbyGameListSortingSection value="2" />
        <DlgGameLobbyGameListSortingOrder value="1" />
        <DlgGameLobbyGameListFilterIndex value="0" />
        <DlgGameLobbyNickListSortFilterIndex value="0" />
        <GameTableFullScreenSave value="0" />
        <GameTableHeightSave value="600" />
        <GameTableWidthSave value="1024" />
        <InternetLoginMode value="0" />
        <InternetLoginPassword value="" />
        <InternetSavePassword value="0" />
        <IfInfoMessageShowList value="Msg" type="list" />
        <PlayerIgnoreList value="Player" type="list" />
        <DBServerAddress value="127.0.0.1" />
        <DBServerUser value="pokerth" />
        <DBServerPassword value="" />
        <DBServerDatabaseName value="pokerth" />
        <DBServerEncryptionKey value="" />
        <GameNameBadWordList value="Regex" type="list" />
    </Configuration>
</PokerTH>
